@import url(../../assets/fonts/georgia/stylesheet.css);
@import url(../../assets/fonts/arial/stylesheet.css);
body {
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  background: url(../../assets/img/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 0;
}

.logo, .main-txt, .pet-cards, .pet-slide, .help-block, .header, nav, main, .pet-slides, .donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header, nav, main, .pet-slides, .donation {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-name {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.white-txt {
  color: white;
}

.white-txt a {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

.header {
  padding: 30px 40px 30px;
  /*  position: fixed; */
  /*  top: 0; */
  /* width: 85%; */
  background-color: white;
}

@media screen and (max-width: 1279px) {
  .header {
    /*  width: 92%;
        margin: auto; */
  }
}

main {
  margin: 0 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

logo {
  color: #545454;
  row-gap: 10px;
}

.logo-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.burger::before, .burger::after, .burger-line {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
}

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  margin-top: 20px;
}

.burger::before {
  top: 0;
  right: 0;
}

.burger::after {
  bottom: 0;
  right: 0;
}

.burger-line {
  top: calc(50% - 1px);
  right: 0;
}

.active {
  position: relative;
  color: #292929;
}

.active::after {
  content: '';
  position: absolute;
  background: #F1CDB3;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
}

.block {
  padding: 80px 40px 100px;
}

.btn-info {
  background-color: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-info a {
  color: black;
}

.pet-slide:hover .btn {
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-white {
  background-color: white;
  border: 1px solid #F1CDB3;
}

.btn-txt {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

nav {
  font-family: 'Arial';
  font-style: normal;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #545454;
}

nav a:hover {
  color: #292929;
}

.logo, .main-txt, .pet-cards, .pet-slide, .help-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pet-cards {
  row-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 877px; */
  background-color: #F6F6F6;
  padding: 180px 40px 100px;
}

.pet-cards .btn-info {
  width: 261px;
  height: 52px;
}

.pet-cards .title {
  text-align: center;
}

.pet-slides {
  /* width: 1200px; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.pet-slide {
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  padding-bottom: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pet-slide:hover {
  background-color: white;
  cursor: pointer;
}

.pet-slide .btn-info {
  width: 187px;
  height: 52px;
}

.pet-name {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.slider-arrow-left {
  margin-right: 53px;
}

.slider-arrow-left:hover {
  cursor: pointer;
}

.slider-arrow-right {
  margin-left: 53px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (max-width: 767px) {
  .pagination {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
}

.paginator {
  /*     box-sizing: border-box;*/
  border-radius: 100px;
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.btn-num {
  background: #F1CDB3;
  border: none;
}

.btn-active {
  border: 2px solid #F1CDB3;
}

.btn-passive {
  border: 2px solid #CDCDCD;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  margin-top: 56px;
}

.footer-info .block-name {
  color: white;
}

.footer-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .footer-img {
    width: 80%;
  }
}

.contacts {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 160px;
          column-gap: 160px;
  padding: 0 40px 0;
}

@media screen and (max-width: 1279px) {
  .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 80px;
            column-gap: 80px;
    margin: auto;
  }
}

@media screen and (max-width: 1279px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin: auto; */
  }
  .main-txt {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .main-txt .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .third-slide, .last {
    display: none;
  }
  .pet-cards {
    padding-left: 94px;
    padding-right: 94px;
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: inline-block;
  }
  .second-slide, nav, .tablet-last {
    display: none;
  }
  .donation-img {
    width: 300px;
  }
  .title {
    font-size: 25px;
    line-height: 130%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .pet-cards {
    padding: 40px 25px;
  }
  .block-name {
    font-size: 25px;
  }
}
/*# sourceMappingURL=pets.css.map */