 body {
    margin: 0;
     
} 





@import url(../../assets/fonts/georgia/stylesheet.css);
@import url(../../assets/fonts/arial/stylesheet.css);

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
  }

$font-georgia: Georgia, 'Times New Roman', Times, serif;

$font-arial: Arial, Helvetica, sans-serif;

%main-background {
    background: url(../../assets/img/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding: 0;
    

}

$dark-blocks-bckgr: #F6F6F6;

%flex {
    display: flex;
}

%card-hover {
    .btn {
        background-color:#FDDCC4;
        transition: 0.5s;
    }
    
}



$btn-radius: 100px;

%space-between {
    justify-content: space-between;
}

$color-primary: #F1CDB3;

$title-color: #545454;

@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
}

.block-name {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $title-color;
}

.title {
    font-family: $font-georgia;
    color: $title-color;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}


a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    padding: 60px 40px;
    @media screen and (max-width: 1279px) {
        /* width: 92%;
        margin: auto; */
    }
}

main {
    margin-left: 40px;
    margin-right: 40px;
    
  /*   align-items: center; */
    border:1px solid red; 
    box-sizing:border-box;

    column-gap: 42px;
}

.header, nav, main, .pet-slides, .donation {
    @extend %flex;
    @extend %space-between;
}

.logo, .main-txt, .pet-cards, .pet-slide, .help-block, .footer-info {
    @include flexColumn()
}

logo {
    row-gap: 10px;
}

.logo-title {
    color: $color-primary;
    font-family: $font-georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.06em;
}

.logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.active {
    position: relative;
    color: #FAFAFA;
}

.active::after {
    content: '';
    position: absolute;
    background: $color-primary;
    left: 0;
    bottom: -5px;
    width: 100%; 
    height: 3px; 
    
}


.main-txt {
    margin-top: 160px;
    row-gap: 42px;
    max-width: 460px;
    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        /* margin: 0; */
    }

    .btn{
        width: 207px;
        height: 52px;
    }
    
    @media screen and (max-width: 1279px) {
        margin: auto;
    }

    @media screen and (max-width: 767px) {
        text-align: center;

        h1 {
            font-size: 25px;
        }
        
        .main-description {
            font-size: 15px;
        }
    }
}

.main-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.wrapper {
    @extend %main-background;
    /* height: 908px; */
}

.white-txt {
    color: white;
        a {
            font-family: $font-arial;
        }
}


/* .block {
    padding: 80px 40px 100px;
} */


nav {
    font-family: 'Arial';
    font-style: normal;
    column-gap: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    align-items: center;
        a {
            color: #CDCDCD;
        }

        a:hover {
            color: #FAFAFA;

        }
        
        
}

.btn:hover {
    background-color:#FDDCC4;
    transition: 0.5s;
}


.btn-info {
    background-color: $color-primary;
    border-radius: $btn-radius;
    font-family: $font-georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: black;
    }
}

.btn-white {
    background-color: white;
    border: 1px solid $color-primary;
}

.btn-txt {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}


.text {
    font-family: $font-arial;
}

p, h2 {
    margin: 0;
}


.about {
    @extend %flex;
    /* @extend %space-between; */
    column-gap: 120px;
    /* height: 588px; */
    align-items: center;
    margin: 80px 215px 100px;
     h2 {
         margin: 0;
     }
    

     @media screen and (max-width: 1279px) {
          display: flex;
          flex-direction: column-reverse;
          width: 437px;
          margin: 80px auto 100px;
          row-gap: 80px;
      }
      
     @media screen and (max-width: 767px) {
        width: 270px;
        row-gap: 42px;
        margin: 42px auto;
    }

}

.about-txt {
    @include flexColumn();
    row-gap: 25px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pet-cards {
    row-gap: 60px;
    align-items: center;
    /* height: 877px; */
    background-color: $dark-blocks-bckgr;
    padding: 20px 40px 100px;
       
        .title {
            text-align: center;
        }
             .btn-info {
                width: 261px;
                height: 52px;
             }
}

 .pet-slides {
    column-gap: 90px;

    @media screen and (max-width: 1279px) {
        column-gap: 30px;
        margin: auto;
    }
}

.pet-slide {
    row-gap: 30px;
    align-items: center;
    padding-bottom: 30px;
    background-color: #fafafa;
    &:hover {
        background-color: white;
        cursor: pointer;
        @extend %card-hover;
    }
     justify-content: space-around;
     .btn-info {
        width: 187px;
        height: 52px;
    }
}

.pet-name{
    color: $title-color;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.paginator {
        /* box-sizing: border-box; */
        border-radius: 100px;
        height: 52px;
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%; */
        img {
            margin: 0;
        }
    }

.btn-active {
    border: 2px solid $color-primary;
}


/* .slider-arrow-left {
    margin-right: 53px;
     &:hover {
         cursor: pointer;
         
     }
}

.slider-arrow-right {
    margin-left: 53px;
} */

.help-block {
    /* width: 1200px; */
    padding: 20px 0 100px 0;
    align-items: center;
    row-gap: 60px;
    h2 {
        text-align: center;
    }
    
}

.help-items {
    @extend %flex;
    width: 90%;
    /* height: 281px; */
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 1279px) {
            width: 82%;
            margin: auto;
            column-gap: 60px;
            .help-item {
                width: 170px;
                height: 113px;
            }
            
        }
        
}

.help-item {
    @include flexColumn();
    font-family: $font-georgia;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation {
    @extend %flex;
    @extend %space-between;
    align-items: center;
    background-color: $dark-blocks-bckgr;
    padding: 80px 182px 100px 183px;
    column-gap: 30px;
    @media screen and (max-width: 1279px) {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 60px;
        margin: auto;
    }
    @media screen and (max-width: 767px) {
        padding: 42px 20px 42px;
    }
    

}

.donation-text {
    @include flexColumn();
    @extend %space-between;
    row-gap: 20px;
    /* height: 282px; */
    /* max-width: 282px; */
    .btn-info {
        @extend %flex;
        justify-content: space-around;
        column-gap: 15px;
        width: 349px;
        height: 43px;
        border-radius: 9px;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
            @media screen and (max-width: 767px) {
                width: 281px;
                height: 43px;
                font-size: 15px;
            }

    }

    img {
        width: 30px;
        height: 23px;
    }

    .some-text {
        color: #B2B2B2;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        
    }
}


.footer-img {
    align-items: flex-end;
    margin-top: 40px;
        @media screen and (max-width: 767px) {
            width: 80%;
        }


}

.footer-info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

        .block-name {
            color: white;
        }
        margin-top: 56px;
}

.contacts {
    color: $color-primary;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-content {
    display: flex;
    @extend %main-background;
    align-items: flex-start;
    column-gap: 160px;
    padding: 0 40px 0;

    @media screen and (max-width: 1279px) {
        flex-wrap: wrap;
        column-gap: 80px;
        /* margin: auto; */
    }
} 


@media screen and (max-width: 1279px) {
    main {
      display: flex;
      flex-direction: column;
      /* margin: auto; */
    }

    .main-txt {
        margin-top:0;
        margin-bottom: 100px;
        .btn {
        align-self: center;
        }

    }

    .third-slide {
        display: none;
    }

  }
  
  @media screen and (max-width: 767px) {
   
    .second-slide, .paginator {
        display: none;
    }

    nav {
        display: none;
    }
    .donation-img {
        width: 300px;
    }

    .title {
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .pet-cards {
        padding: 40px 0;
    }
  }
  