body {
    padding: 0;
    margin: 0;
}

$font-georgia: Georgia, 'Times New Roman', Times, serif;

$font-arial: Arial, Helvetica, sans-serif;

%main-backgr {
    background-color: rgb(87, 29, 2);
    padding: 0;
}

%flex {
    display: flex;
}

$btn-radius: 100px;

%space-between {
    justify-content:  space-between;
}

$color-primary: #F1CDB3;


@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.header {
    padding: 60px 40px;
}

main {
    margin: 60px 40px 0 60px;
    align-items: center;
}

.header, nav, main {
    @extend %flex;
    @extend %space-between;
}

.logo, .main-txt {
    @include flexColumn()
}

.logo {
    color: $color-primary;
}


.main-txt {
    width: 460px;
    height: 322px;
     
    .btn{
        width: 207px;
        height: 52px;
    }
    
}

.wrapper {
    @extend %main-backgr;
    
    height: 908px;
}

.white-txt {
    color: white;
        a {
            font-family: $font-arial;
        }
}

.btn {
    background-color: $color-primary;
    border-radius: $btn-radius;
    font-family: $font-georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: black;
    }

}

.title {
    font-family: $font-georgia;
}

.text {
    font-family: $font-arial;
}

.main-img {
    width: 698px;
    height: 728px;
}

.about {
    @extend %flex;
    @extend %space-between;
    height: 588px;
    align-items: center;
    padding: 80px 215px 100px 215px;

}

.about-txt {
    @include flexColumn();
    @extend %space-between;
    width: 380px;
}