body {
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: Arial;
  src: url(./assets/fonts/Arial.ttf);
}

@font-face {
  font-family: Georgia;
  src: url(./assets/fonts/Georgia.ttf);
}

.wrapper, .footer-content {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 0;
}

.header, nav, main, .pet-slides, .donation, .logo, .main-txt, .pet-cards, .pet-slide, .help-block, .footer-info, .about, .about-txt, .help-items, .help-item, .donation-text, .donation-text .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pet-slide:hover .btn {
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header, nav, main, .pet-slides, .donation, .donation-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-name {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  padding: 60px 40px;
}

main {
  margin: 0 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 42px;
          column-gap: 42px;
}

.logo, .main-txt, .pet-cards, .pet-slide, .help-block, .footer-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

logo {
  row-gap: 10px;
}

.logo-title {
  color: #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
}

.logo-subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.active {
  position: relative;
  color: #FAFAFA;
}

.active::after {
  content: '';
  position: absolute;
  background: #F1CDB3;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
}

.main-txt {
  row-gap: 42px;
}

.main-txt h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.main-txt .btn {
  width: 207px;
  height: 52px;
}

.wrapper {
  height: 908px;
}

.white-txt {
  color: white;
}

.white-txt a {
  font-family: Arial, Helvetica, sans-serif;
}

/* .block {
    padding: 80px 40px 100px;
} */
nav {
  font-family: 'Arial';
  font-style: normal;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #CDCDCD;
}

nav a:hover {
  color: #FAFAFA;
}

.btn:hover {
  background-color: #FDDCC4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-info {
  background-color: #F1CDB3;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-info a {
  color: black;
}

.btn-white {
  background-color: white;
  border: 1px solid #F1CDB3;
}

.btn-txt {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

p, h2 {
  margin: 0;
}

.main-img {
  width: 698px;
  height: 728px;
}

.about {
  /* @extend %space-between; */
  -webkit-column-gap: 120px;
          column-gap: 120px;
  height: 588px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 215px;
}

.about-txt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pet-cards {
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 877px; */
  background-color: #F6F6F6;
  padding: 80px 40px;
}

.pet-cards .title {
  text-align: center;
}

.pet-cards .btn-info {
  width: 261px;
  height: 52px;
}

.pet-slides {
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.pet-slide {
  height: 435px;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pet-slide:hover {
  background-color: white;
  cursor: pointer;
}

.pet-slide .btn-info {
  width: 187px;
  height: 52px;
}

.pet-name {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.paginator {
  /* box-sizing: border-box; */
  border-radius: 100px;
  height: 52px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%; */
}

.paginator img {
  margin: 0;
}

.btn-active {
  border: 2px solid #F1CDB3;
}

/* .slider-arrow-left {
    margin-right: 53px;
     &:hover {
         cursor: pointer;
         
     }
}

.slider-arrow-right {
    margin-left: 53px;
} */
.help-block {
  /* width: 1200px; */
  padding: 20px 0 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
}

.help-block h2 {
  text-align: center;
}

.help-items {
  width: 90%;
  /* height: 281px; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-items img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.help-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.donation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding: 80px 182px 100px 183px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  height: 282px;
  max-width: 282px;
}

.donation-text .btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 349px;
  height: 43px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

.donation-text img {
  width: 30px;
  height: 23px;
}

.donation-text .some-text {
  color: #B2B2B2;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  margin-top: 56px;
}

.footer-info .block-name {
  color: white;
}

.contacts {
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 160px;
          column-gap: 160px;
  padding: 0 40px 0;
}
/*# sourceMappingURL=style.css.map */